<div class="page">
    <div class="page-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default table-responsive panel-hovered mb20"  >
                    <div class="panel-heading"><h4>REGISTRO DE PEDIDOS</h4></div>
                    <div class="panel-body">
                        <div class="row">
                            <!-- <button type="button" class="btn btn-success btn-rounded" ng-click="modalCreateOpen()" md-ink-ripple><i class="fa fa-plus"></i> Nuevo Usuario</button> -->
                        </div>
                        <br>
                        <div class="row">
                            <div class="small text-bold left mt5">
                                Mostrar
                                <select data-ng-model="numPerPage"
                                        data-ng-options="num for num in numPerPageOpts"
                                        data-ng-change="onNumPerPageChange()">
                                </select>
                                &nbsp;entradas
                            </div>
                            <form class="form-horizontal right col-lg-4">
                                <input type="text" class="form-control input-sm" placeholder="Escriba su búsqueda" data-ng-model="searchKeywords" data-ng-keyup="search()">
                            </form>
                        </div>
                    </div>
                    <!-- data table -->
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>#
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                       ng-click=" order('id') "
                                       ng-class="{active: row == 'id'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                       ng-click=" order('-id') "
                                       ng-class="{active: row == '-id'}"></i>
                                </div>
                            </th>
                           <!--  <th>
                                Fotografía
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                       ng-click=" order('direction') "
                                       ng-class="{active: row == 'direction'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                       ng-click=" order('-direction') "
                                       ng-class="{active: row == '-direction'}"></i>
                                </div>
                            </th> -->
                            <th>
                                Número
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                       ng-click=" order('trade_name') "
                                       ng-class="{active: row == 'trade_name'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                       ng-click=" order('-trade_name') "
                                       ng-class="{active: row == '-trade_name'}"></i>
                                </div>
                            </th>
                             <th>
                                Dirección
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                       ng-click=" order('trade_name') "
                                       ng-class="{active: row == 'trade_name'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                       ng-click=" order('-trade_name') "
                                       ng-class="{active: row == '-trade_name'}"></i>
                                </div>
                            </th>
                            <th>
                                Sandwich 
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                       ng-click=" order('phone') "
                                       ng-class="{active: row == 'phone'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                       ng-click=" order('-phone') "
                                       ng-class="{active: row == '-phone'}"></i>
                                </div>
                            </th>   
                            <th>
                                Tamaño
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                       ng-click=" order('phone') "
                                       ng-class="{active: row == 'phone'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                       ng-click=" order('-phone') "
                                       ng-class="{active: row == '-phone'}"></i>
                                </div>
                            </th> 
                            <th>
                                Pan 
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                       ng-click=" order('phone') "
                                       ng-class="{active: row == 'phone'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                       ng-click=" order('-phone') "
                                       ng-class="{active: row == '-phone'}"></i>
                                </div>
                            </th> 
                            <th>
                                Extras 
                                <div class="th">
                                    <i class="fa fa-caret-up icon-up"
                                       ng-click=" order('phone') "
                                       ng-class="{active: row == 'phone'}"></i>
                                    <i class="fa fa-caret-down icon-down"
                                       ng-click=" order('-phone') "
                                       ng-class="{active: row == '-phone'}"></i>
                                </div>
                            </th> 
                            <th>Especies</th>                
                            <th>Queso</th>
                            <th>Vegetales</th>
                            <th>Salsa</th>
                            <th>Tostar</th>
                            <th>Wrap o ensalada</th>
                            <th>Combo</th>
                            <th>Pago</th>
                            <th>Confirmar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in currentPageStores track by $index">
                            <td>{{ $index + 1 }}</td>
<!--                             <td><img  width="50" height="50" ng-click="click(data.fotografia)" ng-src="{{ data.fotografia }}"></td> -->
                            <td>{{ data.numero }}</td>
                            <td>{{ data.direccion }}</td>
                            <td>{{ data.sandwich }}</td>
                            <td>{{ data.tamano }}</td>
                            <td>{{ data.pan }}</td>
                            <td>{{ data.extras }}</td>
                            <td>{{ data.especies }}</td>
                            <td>{{ data.quesos }}</td>
                            <td>{{ data.vegetales }}</td>
                            <td>{{ data.salsas }}</td>
                            <td>{{ data.tostar }}</td>
                            <td>{{ data.wrapoensalada }}</td>
                            <td>{{ data.combos }}</td>
                            <td>{{ data.pago }}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success ion ion-checkmark" ng-click="modalDeleteOpen(data)" md-ink-ripple></button>
                                </div>
                            </td>
                        </tr>
                        </tr>
                        </tbody>
                    </table>
                    <!-- #end data table -->
                    <div class="panel-footer clearfix">
                        <p class="left mt15 small">
                            Mostrando {{currentPageStores.length*(currentPage - 1) + 1}} a {{currentPageStores.length*currentPage}} de {{datas.length}} entradas
                        </p>
                        <pagination boundary-links="true" total-items="filteredData.length" ng-model="currentPage" class="pagination-sm right"
                                    max-size="5" ng-change="select(currentPage)" items-per-page="numPerPage" rotate="false"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- #end page-wrap -->
</div>

<div class="toast toast-{{positionModel}}">
    <alert ng-repeat="toast in toasts" type="{{toast.type}}" close="closeAlert($index)" class="toast-{{toast.anim}}">
        <div ng-bind-html="toast.msg"></div>
    </alert>
</div>
