<div class="nav-head">
	<!-- site logo -->
	<a href="#/dashboard" class="site-logo text-uppercase">
		<img src="../img/logo.png" width="175">
	</a>
</div>


<!-- Site nav (vertical) -->

<nav class="site-nav clearfix" role="navigation" ng-controller="NavCtrl">
	<div class="profile clearfix mb15">
		<img src="../img/admin.png" alt="admin">
		<div class="group">
			<h5 class="name">Usuario</h5>
			<small class="desig text-uppercase">Administrador</small>
		</div>
	</div>

	<!-- navigation -->
	<ul class="list-unstyled clearfix nav-list mb15" collapse-nav-accordion highlight-active>
		<li>
			<a href="#/informacion">
				<i class="ion ion-ios-contact"></i>
				<span class="text">Información</span>
			</a>
		</li>
	</ul> <!-- #end navigation -->
</nav>


<!-- nav-foot -->
<footer class="nav-foot">
	<p>2018 &copy; <span>MATERIA</span></p>
</footer>